body {
  margin: 2%;
  padding: 0;
  font-family: sans-serif;
}
.mainLogo{
  width: 120px !important;
}
.green{
  background: #2ecc71 !important;
}
#okta-signin-submit{
  background: #2ecc71 !important;
}

.bcrumb{
  margin-top: 6% !important;
  margin-left: 4% !important;
  display: block !important;
}

.main-content-container{
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.main{
  width: 59%;
  height: 50vh;
  padding: 1%;
  border: 1px solid rgba(34, 36, 38, 0.15);;
}
.sidebar{
  width: 39%;
  height: 50vh;
  padding: 1%;
  border: 1px solid rgba(34, 36, 38, 0.15);;
}